<h1>Library Books</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.author %></td>
        <td><%= book.status %></td>
        <td>
          <%= link_to 'View', book_path(book) %> |
          <%= link_to 'Edit', edit_book_path(book) %> |
          <%= link_to 'Delete', book_path(book), 
              data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <%= link_to 'Add New Book', new_book_path %>
</p>
